$tablet: 768px;
$desktop: 1024px;
$berry: #993955;

@mixin mobile {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

.mainImage img {
  border-radius: 20%;
  max-width: 30%;
  margin: 0 auto;
  box-shadow:
          0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @include mobile {
    max-width: 85%;
  }
}

.tinted {
  color: $berry;
}